html
        head
                title Node Authentication Playground
                link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
                link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
                style.
                        body {
                                padding-top:80px;
                            }
                        .well {
                                word-wrap: break-word;
                            }
        body
                .container
                        .col-sm-6.col-sm-offset-3
                                div.page-header.text-center
                                        h1 #[span.fa.fa-anchor] Profile Page
                                        
                                        a(href="/logout").btn.btn-danger Logout
                                div.row
                                    if user.local.email
                                            div.col-sm-6
                                                    div.well
                                                            h3 #[span.fa.fa-user  Local]
                                                            p.
                                                                    #[strong id: #{user._id}] #[br]
                                                                    #[strong email: #{user.local.email}] #[br]
                                                                    #[strong password: #{user.local.password}]
                                    if user.facebook.id
                                        div.col-sm-6
                                            div.well
                                                h3.text-primary #[span.fa.fa-facebook  Facebook]
                                                p.
                                                    #[strong id: #{user._id}] #[br]
                                                    #[strong email: #{user.facebook.email}] #[br]
                                                    #[strong name: #{user.facebook.name}] 
                                